:local(.homeContainer) {

}

:local(.home) {
    width: 40%;
    height: 80px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

:local(.textRunId) {

}

:local(.loader) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

:local(.badrequest) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    text-align: center;
    vertical-align: middle;

    width: 20%;
    height: 50px;
    line-height: 50px;
    margin: auto;
}

:local(.paperContainer) {
    margin-top: 30px;
}

:local(.headerGrid) {
    flex-grow: 1;
    padding: 20px;
}

:local(.headerPaper) {
    width: 100%;
}

:local(.headerPaper) {
    padding: 5px;
    width: 200px;
    text-align: center;
}

:local(.cardHeader) {
    font-size: 14px;
    font-weight: bold;
    line-height: 10px;
    text-align: left;
    color: #5b5b5b
}

:local(.cardValue) {
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
}

:local(.mainPaper) {
    flex-grow: 1;
    height: 100%;
}

:local(.tableRoot) {
    padding: 10px;
}

:local(.mainTable) {
}

:local(.tableButton) {
    min-width: 70px!important;
    width: 100%;
}

:local(.tableCell) {
    text-align: center;
    line-height: 33px;
    vertical-align: middle;
}

:local(.tableProcess) {
    text-align: left;
    line-height: 33px;
    vertical-align: middle;
}

:local(.tableBarrier){
    text-align: center;
    margin: auto;
}

:local(.warningIcon){
    font-size: 18px!important;
    color: #ff935e;
    line-height: 13px;
    vertical-align: middle;
    text-align: right;
}

:local(.warningPopover){
    margin: 10px;
}

:local(.tagModal){
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    height: 70%;
    margin: auto;
    padding: 10px;
}

/* This prevents the focus outlier when clicking react table headers */
.ReactTable .rt-thead [role="columnheader"] {
outline: 0;
}