:local(.drawerPaper) {
    position: relative;
    white-space: nowrap;
    width: 280px!important;
    -webkit-transition: width .5s;
    transition: width .5s;
}

:local(.drawerHeader) {
    background-color: #f1f1f1 !important;
    cursor: pointer;
}

:local(.subDrawerOpen) {
    max-height: 100%;
}

:local(.subDrawerClose) {
    max-height: 0;
    overflow: hidden;
}

@media only screen and (min-width: 600px) {
    :local(.drawerPaperClose) {
        overflow-x: hidden!important;
        width: 70px !important;
        -webkit-transition: width .5s;
        transition: width .5s;
    }
}

@media only screen and (max-width: 600px) {
    :local(.drawerPaperClose) {
        width: 0 !important;
        -webkit-transition: width .5s;
        transition: width .5s;
    }
}

:local(.toolbar) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

:local(.closeDrawerButton){
    height: 64px!important;
    width: 64px!important;
    padding: 20px;
}

@media only screen and (min-width: 600px) {
    :local(.content) {
        -webkit-transition: width .5s;
        transition: margin-left .5s;
        margin-left: 70px;
    }
}

@media only screen and (max-width: 600px) {
    :local(.content) {
        -weyupbkit-transition: width .5s;
        transition: margin-left .5s;
        margin-left: 0;
    }
}

:local(.contentShift){
    -webkit-transition: width .5s;
    transition: margin-left .5s;
    margin-left: 300px;
}

:local(.activeSideButton svg path){
    fill: #5c6bc0!important;
}
