:local(.innuendoHomeContainer) {
    width: 60%;
    height: 80px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

:local(.innuendoHome) {

    display: flex;
    flex-grow: 1;

    padding: 10px
}


:local(.mainPaper) {
    flex-grow: 1;
    overflow-x: auto;
}

:local(.tableCell) {
    position: relative;
    text-align: center;
    line-height: 33px!important;
    vertical-align: middle!important;
}

:local(.columnCellContainer) {
    position: relative;
}

:local(.columnCell) {
    position: absolute;
    background: rgba(100, 100, 100, 0.2);
    height: 100%;
    z-index: 1;
}

:local(.scrollElement) {
    margin-top: 40px;
}

:local(.centralModal) {
    background-color: white!important;
    opacity: 1;
    position:absolute;
    width:50%;
    height:50%;
    top:25%;
    left:25%;
}

:local(.modalBody) {
    margin: 2%!important;
}

:local(.centeredContent) {
    text-align: center!important;
}

:local(.modalHeader) {
    margin: 2%!important;
    display: flex;

}

:local(.modalCloseButton) {
    height: 25px!important;
    width: 25px!important;
}

:local(.cellLabel) {
    padding-left: 10px;
    padding-right: 10px;
}

:local(.centralCell) {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

:local(.cellLabelText) {
    color: white!important;
    font-weight: bold!important;
}

:local(.tableButtonsDiv) {
    flex-grow: 1;
    display: flex;
    overflow-x: auto;
    text-align: left;
    margin-bottom: 5px;
}
